<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/index.css" />
    <title>Book Notes</title>
  </head>
  <body>
    <div class="main-container">
      <div class="heading">John Doe</div>
      <div class="subheading">Books I've Read</div>
      <div class="heading-section-content">
        <p class="heading-paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
          necessitatibus praesentium obcaecati vero dolor quibusdam?
        </p>
        <p class="heading-paragraph">
          Lorem ipsum dolor sit amet
          <span class="bold">consectetur adipisicing elit</span> . Quod,
          necessitatibus praesentium obcaecati vero dolor quibusdam?
        </p>
        <p class="heading-paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod,
          necessitatibus praesentium obcaecati vero dolor quibusdam?
        </p>

        <hr class="break-heading" />

        <div class="card-container">
          <img src="images/scroll.png" alt="" class="card-image" />
          <div class="card-title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
            soluta.
          </div>
          <div class="review-n-time-section">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </div>
          <div class="card-warping-synopsis">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis error
            repudiandae voluptatem consectetur nobis distinctio commodi omnis
            delectus ratione totam ex eius sint sunt obcaecati, dolor
            reprehenderit laudantium adipisci tenetur consequuntur est ipsa
            cumque. Rem molestias quod sit necessitatibus maxime.
          </div>
          <div class="card-warping-synopsis">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis,
            unde.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
